<h3 class="state-heading">Please Enter your State's Abbreviation</h3>
<input class="state-input" type="text" value="VA">
<button ng-click="ApplianceIndexViewModel.getStateElecPrice()" class="state-submit">Enter</button>
<h5 class="retail-statement">The average cost of electricity is:<div ng-controller="getElecPriceController" class="elec-price">{{$scope.price}}</div></h5>

<table style="width:60%">
  <tr>
    <th>Appliance</th>
    <th>Quantity</th>
    <th>Average Montly Usage (kWh)</th>
  </tr>

  <tr data-ng-repeat="appliance in ApplianceIndexViewModel.appliances">
    <td data-applianceID={{appliance.id}} id="appliance{{appliance.id}}">{{appliance.name}}</td>
    <td><input type="text" id="quantity{{appliance.id}}" class='quantity-input' name='quantity' value='0'></td>
    <td>{{appliance.power}}</td>
  </tr>

</table>
<button ng-click="ApplianceIndexViewModel.createEstimates()">Create Estimate</button>
