
<h3 class="name-heading">Step 1: Please Enter the Name of Your Electrical Calculation</h3>
<input class="name-input" type="text" placeholder="Murgia Manor">
<h3 class="state-heading">Step 2: Please Enter your State's Abbreviation for Average Electricity Price</h3>
<input class="state-input" type="text" placeholder="VA">
<div>
  <button ng-click="ApplianceIndexViewModel.getStateElecPrice()" class="state-submit">Enter</button>
</div>
<h5 class="retail-statement">The average cost of electricity for your in cents/kwh is:<div class="elec-price"></div></h5>
<h3 class="create-electcalc-heading">Step 3: Click the button to create your Electrical Calculation!</h3>
<button ng-click="ApplianceIndexViewModel.createElectcalc()" class="create-electcalc">Electrical Calculation Generator</button>
<div hidden class="electcalc-id"></div>

<table>
  <tr>
    <th class="table-heading">Appliance</th>
    <th class="table-heading">Quantity</th>
    <th class="table-heading">Average Montly Usage (kWh)</th>
  </tr>

  <tr data-ng-repeat="appliance in ApplianceIndexViewModel.appliances">
    <td data-applianceID={{appliance.id}} id="appliance{{appliance.id}}">{{appliance.name}}</td>
    <td><input type="text" id="quantity{{appliance.id}}" class='quantity-input' name='quantity' value='0'></td>
    <td>{{appliance.power}}</td>
  </tr>

</table>
<div class="create-estimate-div">
  <button ng-click="ApplianceIndexViewModel.createEstimates()">1. Create Estimate</button>
</div>
<div class="create-electcalc-div">
  <button><a href="/#/electcalcs">2. Click Here to See Your Electrical Calculation</a></button>
</div>
